# Tested with Python 3.12.8
--extra-index-url https://download.pytorch.org/whl/cu130

fastapi
python-multipart
uvicorn[standard]

numpy
pydub
soundfile

torch==2.5.1+cu124
torchaudio==2.5.1+cu124

nano-vllm-voxcpm
